<div class="container w-50 mx-auto">
    <h3 class="text-center">Book Appointment</h3>
  <form (ngSbumit)="onSubmit()" #heroForm="ngForm">
    <label for="name">Name</label>
    <input type="text" [(ngModel)]="appointment.name" name="name" placeholder="Your name..">

    <label for="email">Email</label>
    <input type="text" [(ngModel)]="appointment.email" name="email"  placeholder="Your Email..">

    <label for="phone">Phone</label>
    <input type="text" [(ngModel)]="appointment.phone" name="phone"  placeholder="Your Phone..">

    <label for="date">Date</label>
    <input type="text" [(ngModel)]="appointment.date_picker" name="date_picker"  placeholder="Your Date..">

    <input type="submit" value="Book Appointment">
    {{appointment|json}}
    <p style="color:green">{{status.Message}}</p>
  </form>
</div>